/******************************************* All mixins used are stored here *****************************/

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: ($direction);
    justify-content: center;
    align-items: center;
}

@mixin background {
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-repeat: no-repeat;
}