@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap"); /******************************************* All mixins used are stored here *****************************/ /****************** All variables are stored here *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
}

#display {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.card {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.card div {
  margin: 3px;
}
.card .display__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.card .display__screen .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.card .display__screen .box img {
  width: 2.5rem;
}

#input {
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  padding-left: 5px;
}
#input .search {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#input .search input {
  width: 70%;
  height: 45px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(182, 182, 182);
}
#input .search input:hover {
  border: none;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  transition: 1s;
  transform: scale(1);
}
#input .search input::-moz-placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
  font-family: "Cormorant Garamond", serif;
}
#input .search input:-ms-input-placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
  font-family: "Cormorant Garamond", serif;
}
#input .search input::placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
  font-family: "Cormorant Garamond", serif;
}
#input .search button {
  height: 45px;
  width: 15%;
  border: none;
  background-color: orange;
  cursor: pointer;
}
#input .search button:hover {
  background-color: #fff;
}
#input .search button:hover svg {
  fill: orange;
  transition: 0.8s;
}
#input .search button svg {
  width: 13px;
}
#input div {
  width: 100%;
}
#input div .locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
#input div .locations ul, #input div .locations li {
  justify-content: flex-start;
  cursor: pointer;
  list-style-type: none;
  color: rgb(182, 182, 182);
  padding: 5px 0px;
}
#input .weather-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  height: 50%;
  width: 100%;
  padding-right: 15px;
  padding-bottom: 10px;
}
#input .weather-details hr {
  width: 85%;
  border-bottom: rgb(182, 182, 182);
  padding-right: 15px;
}
#input .weather-details p {
  margin-top: 5px;
}
#input .weather-details .details {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
#input .weather-details .details ul li {
  padding: 5px 0px;
  list-style: none;
}

/******************** Media Query styling begins here ***********************************/
@media (min-width: 660px) {
  .container {
    font-size: 0.7rem;
    width: 50.19%;
  }
  #display {
    position: relative;
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  #input {
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100.3%;
  }
  #input .search input {
    width: 60%;
  }
  #input .search button {
    width: 30%;
  }
  #input .options {
    padding-left: 20px;
    height: 25%;
  }
  #input .options li {
    margin: 5px 0px;
  }
  #input .weather-details {
    padding-left: 20px;
    height: 55%;
  }
  #input .weather-details hr {
    margin: 10px 0px;
  }
  #input .weather-details .details ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  #input .weather-details .details ul li {
    margin: 5px 0px;
  }
}
@media (min-width: 890px) {
  .card {
    padding: 5px 15px;
  }
  .card .display__screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .card .display__screen .box {
    width: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card .display__screen .box img {
    width: 1.8rem;
  }
}
/******************** Media Query styling ends here ***********************************//*# sourceMappingURL=style.css.map */