@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import "_mixins.scss";
@import "_variables.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    margin: 30px;
    @include flexCenter(row);
    font-size: $fontSize;
    color: $white;
}

.container {
    height: 100vh;
    width: 100vw;
}

#display {
    object-fit: cover;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.card {
    height: 50vh;
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;

    div {
        margin: 3px;
    }

    .display__screen {
        @include flexCenter(column);
        align-items: flex-start;

       .box {
            width: 100%;
            @include flexCenter(column);
            align-items: flex-start;

            img {
                width: 2.5rem;
            }
        } 
    }   
}

#input {
    font-size: $fontSize;
    @include background;
    @include flexCenter(column);
    justify-content: space-between;
    height: 50vh;
    padding-left: 5px;
    
    .search {
        width: 100%;
        margin-bottom: 10px;
        @include flexCenter(row);
        justify-content: space-between;

        input {
            width: 70%;
            height: 45px;
            border: none;
            background: $transparentColor;
            border-bottom: 1px solid $grey;

            &:hover {
                border: none;
                border-radius: 5px;
                color: #000;
                background-color: $white;
                transition: 1s;
                transform: scale(1);
            }

            &::placeholder {
                color: $grey;
                font-size: 0.8rem;
                font-family: 'Cormorant Garamond', serif;
            }
        }

        button {
            height: 45px;
            width: 15%;
            border: none;
            background-color: orange;
            cursor: pointer;

            &:hover {
                background-color: #fff;

                svg {
                    fill: orange;
                    transition: 0.8s;
                }
            }

            svg {
                width: 13px;
            }
        }
    }

    div {
        width: 100%;

       .locations {
        @include flexCenter(column);
        align-items: flex-start;

            ul, li {
                justify-content: flex-start;
                cursor: pointer;
                list-style-type: none;
                color: $white;
                padding: 5px 0px;

                &:hover {
                    text-decoration: underline;
                    color: $grey;
                    transition: 1s;
                    transform: scale(1.3);
                }
            }
        } 
    }

    .weather-details {
        @include flexCenter(column);
        justify-content: space-around;
        align-items: flex-start;
        height: 50%;
        width: 100%;
        padding-right: 15px;
        padding-bottom: 10px;

        hr {
            width: 85%;
            border-bottom: $grey;
            padding-right: 15px;
        }

        p {
            margin-top: 5px;
        }

        .details {
            height: 40%;
            @include flexCenter(row);
            justify-content: space-between;
            margin: 5px 0px;
            
            ul li {
                padding: 5px 0px;
                list-style: none;
            }
        }
    }
}

/******************** Media Query styling begins here ***********************************/ 

@media (min-width: 660px) {
    .container {
        font-size: 0.7rem;
        width: 50.19%;
    }

    #display {
        position: relative;
        background-repeat: no-repeat;
        border-radius: 0px;
        height: 80vh;
        @include flexCenter(row);
        justify-content: space-between;
    }

    #input {
        position: absolute;
        right: 0px;
        width: 35%;
        height: 100.3%;

        .search {

            input {
                width: 60%;
            }

            button {
                width: 30%;
            }
        }

        .options {
            padding-left: 20px;
            height: 25%;

            li {
                margin: 5px 0px;
            }
        }

        .weather-details {
            padding-left: 20px;
            height: 55%;

            hr {
                margin: 10px 0px;
            }

            .details {
                
                ul {
                    @include flexCenter(column);
                    align-items: flex-start;

                    li {
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 890px) {
    .card {
        padding: 5px 15px;

        .display__screen {
            @include flexCenter(row);
            justify-content: space-between;

            .box {
                width: 124px;
                @include flexCenter(column);
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0px;

                img {
                    width: 1.8rem;
                }
            }
        }
    }
}

/******************** Media Query styling ends here ***********************************/ 