@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap"); /******************************************* All mixins used are stored here *****************************/ /****************** All variables are stored here *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
}

#display {
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
}
#display div {
  margin: 3px;
}
#display .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
#display .box img {
  width: 2.5rem;
}

#input {
  background: rgb(2, 0, 36);
  background: linear-gradient(120deg, rgb(2, 0, 36) 0%, rgb(153, 72, 2) 100%, rgb(0, 212, 255) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  padding-left: 15px;
  width: 100%;
}
#input .search {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#input .search input {
  width: 70%;
  height: 35px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(182, 182, 182);
}
#input .search input:hover {
  border: none;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  transition: 1s;
  transform: scale(1);
}
#input .search input::-moz-placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
}
#input .search input:-ms-input-placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
}
#input .search input::placeholder {
  color: rgb(182, 182, 182);
  font-size: 0.55rem;
}
#input .search button {
  height: 35px;
  width: 15%;
  border: none;
  background-color: orange;
  cursor: pointer;
}
#input .search button:hover {
  background-color: #fff;
}
#input .search button:hover svg {
  fill: orange;
  transition: 0.8s;
}
#input .search button svg {
  width: 13px;
}
#input div {
  width: 100%;
}
#input div .locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
#input div .locations ul, #input div .locations li {
  justify-content: flex-start;
  cursor: pointer;
  list-style-type: none;
  color: rgb(182, 182, 182);
  padding: 5px 0px;
}
#input div > hr {
  width: 85%;
  border-bottom: rgb(182, 182, 182);
  padding-right: 15px;
}
#input .weather-details {
  width: 100%;
  padding-right: 15px;
  margin-top: 5px;
}
#input .weather-details .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
#input .weather-details .details ul li {
  padding: 5px 0px;
  list-style: none;
}

/******************** Media Query styling begins here ***********************************/
@media (min-width: 660px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    width: 80vw;
  }
  #display {
    width: 50%;
    height: 80vh;
  }
  #display .display__screen {
    margin: 0px;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #display .display__screen .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #display .display__screen .box img {
    width: 2rem;
  }
  #input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    width: 30%;
    height: 80vh;
  }
  #input .search {
    margin-bottom: 0px;
  }
  #input .search input {
    width: 60%;
    height: 40px;
  }
  #input .search button {
    height: 40px;
    width: 30%;
  }
  #input hr {
    margin: 30px 0px;
  }
  #input .options {
    height: 25%;
  }
  #input .options .locations {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 0px;
  }
  #input .weather-details {
    height: 25%;
  }
  #input .weather-details .details {
    height: 100%;
  }
  #input .weather-details .details ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  #input .weather-details .details ul li {
    margin: 5px 0px;
  }
}
/******************** Media Query styling ends here ***********************************//*# sourceMappingURL=style.css.map */